h1 {
    text-align: center;
}

p {
    text-align: center;
}

a:link, a:visited {
    background-color: #ffffff;
    color: #000000;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: #000000;
    border-style: solid; 
  }

  a:hover, a:active {
    background-color: #000000;
    color: #ffffff
  }